body{
    background: #00bcd4;
    color: #fff;
}

.centralize{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 9vh;
}

/* GLOBAL CLASS MODIFICATIONS */
.msg{
    width: 49.3%;    
}
.txt {
    text-align: center;
    width: 100%;
    padding: 8px 0px;
    font-size: 2.1em;
    color: gray;
    text-align: center;
    background-color: whitesmoke;
}

/* h1 title */
.centralize > h1{
    font-size: 4em;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 6vh;    
    text-align: center;    
}

/* -------- form cadastrar ------- */
#cadastrar {
    margin: 0 auto;
    width: 50%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

#tipo-user {
    color: white;
    font-weight: 100;
    font-size: 5vh;
    display: flex;
    text-align: center;
}

#doador, #instituicao{
    width: 50%;
    transition: 0.5s ease-out;
    cursor: pointer;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center 80%;
    position: relative;
    z-index: 0;
    background-size: 25%;
    opacity: 0.6;
}

#doador {
    background-color: lightblue;
    background-image: url('../img/icons/user.png');
}


#instituicao {
    background-color: lightcoral;
    background-image: url('../img/icons/house.png');
}

#doador:hover, #doador.selected {
    opacity: 1;
    box-shadow: 20px 1px 20px 0 rgba(0, 0, 0, 0.12), 5px 1px 20px 0 rgba(0, 0, 0, 0.24);
    
}

#instituicao:hover, #instituicao.selected {
    opacity: 1;
    box-shadow: -5px 1px 20px 0 rgba(0, 0, 0, 0.12), -5px 1px 20px 0 rgba(0, 0, 0, 0.24);
}

#btnCadastrar {
    width: 100%;
    font-size: 5vh;
    color: white;
    font-weight: 100;
    cursor: pointer;
    transition: 0.7s;
    background-color: #00b7ad;
    padding: 10px 0;
    box-sizing: content-box;
}

#btnCadastrar:hover{
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.12), 0px 0px 20px 0 rgba(0, 0, 0, 0.24);
}

#btnCadastrar:active {
    transition: 0.1s;
    background-color: #3fb094;
}

#btnCadastrar:disabled{
    opacity: 0.2;
}

#otherOptions{
    margin-top: 5px;
    font-size: 1.5em;
}

#otherOptions a{
    text-decoration: underline;
    color: #fff;
}

@keyframes botar {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.12), 0px 5px 20px 0 rgba(0, 0, 0, 0.24);
    }
}

@-webkit-keyframes botao {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.12), 0px 5px 20px 0 rgba(0, 0, 0, 0.24);
    }
}