.centralize {
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid #00bcd4;
}

svg {
    width: 95%;
    height: 2px;
    margin: 0 auto;
    display: flex;
    padding: 4px 0px;
    stroke: whitesmoke
}


/* --- FEED --- */

#newsfeed {
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    width: 62.5%;
    margin-top: 11vh;
    position: absolute;
    left: 10vh
}

#newsfeed header {
    padding: 1em;
    border-left: 2px solid #00bcd4;
}

#newsfeed header h1 {
    color: #00bcd4;
    font-size: 2em;
    font-weight: 400;
}


/* --- CONQUISTAS --- */

#conquistas li {
    display: flex;
    align-items: center;
    font-size: 3vh;
    transition: 0.5s;
    cursor: default;
    opacity: 0.8
}

#conquistas li:hover {
    opacity: 1;
    background-color: whitesmoke
}

#conquistas li img {
    width: 5%;
    min-width: 30px;
    margin-right: 5px
}


/* --- POST --- */

.post:first-child {
    box-shadow: none;
}

.post {
    width: 100%;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    transition: 1s;
}

.autor {
    color: black;
    display: flex;
    width: 50%;
}

.autor img {
    height: 10vh;
    width: 5vw;
    background-color: white;
}

.autor .titulo {
    margin-left: 3px;
}

.autor h1{
    font-weight: 100;
    font-size: 3vh
}

.autor .nome {
    font-size: 4vh
}

.autor .legenda {
    font-size: 2.9vh;
    font-weight: 100
}
.tempo {
    float: right;
    margin: 3px 6px;
    font-size: 2.5vh
}

.cont p{
    font-size: 3.5vh;
    color: dimgray;
    text-align: justify
}

.cont-txt{
    box-sizing: content-box;
    padding: 10px
}

.cont img{
    max-width: 100%;
}

.cont-img p{
    box-sizing: content-box;
    padding: 4px 10px 5px 10px;
    background-color: dimgray;
    color: whitesmoke;
    margin-top: -5px
}


/* --- STATS --- */

#stats {
    margin-left: 3%;
    padding-top: 9vh;
    display: flex;
    flex-flow: column;
    position: fixed;
    right: 2vh;
}

.stat-container {
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2vh;
    transition: 0.5s;
    width: 30vw;
    overflow: hidden
}

.stat-container header {
    padding: 1em;
    text-align: center
}

.stat-container header h1 {
    color: #00bcd4;
    font-size: 2em;
    font-weight: 400;
}

.stat-container ul {
    margin-top: 1px;
}

.stat-container li {
    transition: background-color 0.3s linear;
    cursor: pointer;
    padding: 2px 6px
}

.stat-container li:hover {
    border-left: 2px solid #00bcd4;
    background-color: rgba(0, 0, 0, 0.07)
}

.stat-container button{
    width: 100%;
    height: 3vh;
    cursor: pointer;
    background-color: #00bcd4;
    color: whitesmoke;
    font-size: 2vh
}
