hr{
    border: 1px solid #00bcd4;
}

svg {
    width: 95%;
    height: 2px;
    margin: 0 auto;
    display: flex;
    padding: 4px 0px;
    stroke: whitesmoke
}

progress {
    width: 100%;
    height: 5vh
}

body {
    background-color: whitesmoke
}


/* --- FEED --- */
#newsfeed {
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    width: 62.5%;
    margin-top: 11vh;
    position: absolute;
    left: 10vh;
    transition: 0.5s ease-out
}

#newsfeed header {
    padding: 1em;
    border-left: 2px solid #00bcd4;
}

#newsfeed header h1 {
    color: #00bcd4;
    font-size: 2em;
    font-weight: 400;
}

/* --- CONQUISTAS --- */

#conquistas li {
    display: flex;
    align-items: center;
    font-size: 3vh;
    transition: 0.5s;
    cursor: default;
    opacity: 0.8
}

#conquistas li:hover {
    opacity: 1;
    background-color: whitesmoke
}

#conquistas li img {
    width: 5%;
    min-width: 30px;
    margin-right: 5px
}


/* --- POST --- */

.post:first-child {
    box-shadow: none;
}

.post {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    transition: 1s;
}

.autor {
    color: black;
    display: flex;
    width: 50%;
}

.autor img {
    height: 10vh;
    width: 5vw;
    background-color: white;
    background-image: url('../img/bg/cubos.jpg');
    background-position: center;
    background-size: 50px;
}

.time {
    float: right;
    margin: 3px 6px;
    font-size: 2.5vh;
    transition: 0.5s
}

.titulo {
    margin-left: 3px;
}

.legenda {
    font-size: 3.5vh;
}

/* --- TEXT and PROGRESS --- */

.post-txt .cont,
.post-progress .cont {
    box-sizing: content-box;
    padding: 10px;
    font-size: 3.5vh;
    font-weight: 100
}

.post-txt .autor h1,
.post-progress .autor h1 {
    font-weight: 100;
    font-size: 3vh
}

.post-txt .autor .nome,
.post-progress .autor .nome {
    font-size: 4vh
}


/* --- POST IMAGE --- */
.post-img .autor {
    position: absolute;
    color: white;
    align-items: center;
    opacity: 0.2;
    transition: 0.5s;
    margin: 6px
}

.post-img .autor img {
    height: 7vh;
    width: 4vw;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 1);
}

.post-img a {
    color: white
}

.post-img .titulo {
    margin-left: 5px
}

.post-img .time {
    position: absolute;
    right: 0;
    color: white;
    opacity: 0.2
}

.post-img .cont {
    display: flex;
    flex-flow: column
}

.post-img .cont img {
    max-width: 100%;
    cursor: pointer
}

.post-img .cont footer {
    box-sizing: content-box;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    border-top: 5px solid dimgray;
    background-color: rgba(0, 0, 0, 0.5);
}

.post-img .cont .legenda {
    bottom: 0;
    color: whitesmoke;
    font-size: 3.2vh;
}


/* --- STATS --- */

#stats {
    margin-left: 3%;
    padding-top: 9vh;
    display: flex;
    flex-flow: column;
    position: fixed;
    right: 2vh;
}

.stat-container {
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2vh;
    transition: 0.5s;
    width: 30vw;
    overflow: hidden;
}

.stat-container header {
    padding: 1em;
    text-align: center
}

.stat-container header h1 {
    color: #00bcd4;
    font-size: 2em;
    font-weight: 400;
}

.stat-container ul {
    margin-top: 1px;
}

.stat-container li {
    transition: background-color 0.3s linear;
    cursor: pointer;
    padding: 2px 6px
}

.stat-container li:hover {
    border-left: 2px solid #00bcd4;
    background-color: rgba(0, 0, 0, 0.03)
}

.stat-container button {
    width: 100%;
    height: 3vh;
    cursor: pointer;
    background-color: #00bcd4;
    color: whitesmoke;
    font-size: 2vh;
    font-weight: 900
}
