body {
    background-color: whitesmoke
}

.centralize {
    flex-flow: wrap
}

header {
    text-align: center;
    margin-top: 10vh;
    z-index: 0;
}

header h1 {
    color: dimgray;
    font-size: 8vh;
    padding: 5px 5px 10px 5px;
    text-align: center;
}

article {
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    width: 90%;
    border-top: 4px solid white;
    border-bottom: 4px solid dimgray;
    margin-bottom: 0.5vh;
    min-height:59vh
}


article select {
    font-size: 4vh;
    color: white;
    background-color: dimgray;
    cursor: pointer;
    width: 100%;
    text-align: center
}

article ul {
    box-sizing: content-box;
    padding: 5px;
}

article ul img {
    height: 8vh;
    margin-left: 5px
}

#ranking li {
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin-bottom: 4px;
    width: 100%;
}

#ranking li div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89%
}

#ranking .necessidades{
        color: black;
}

#ranking .endereco{
        color: dimgray;
}
