body{
    color: #fff;
}

/*----------NAV------------*/

nav {
    background-color: rgba(255, 255, 255, 0.11);
    position: fixed;
    z-index: 1;
    box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.12), 0px 5px 20px 0 rgba(0,0,0,0.24);
    bottom: 0;
}

nav ul{
    justify-content: inherit;
    /* alinhamento horizontal dos filhos */
    align-content: inherit;
}

/*----------NAV------------*/
nav.notLogged{
    background: rgba(255,255,255,0.9)
}

/*----------LOGAR------------*/

.txt {
    width: 100%;
    color: gray;
    text-align: center;
    background-color: whitesmoke;
    padding: 2px 0px;
}

.btn {
    padding: 8px 15px;
    width: 100%;
    font-size: 5vh;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    background-color: cadetblue
}

.btn:active {
    transition: 0.5s;
    background-color: #3fb094
}


/*----------FORM LOGIN------------*/

#form-login {
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.12), 0px 5px 20px 0 rgba(0, 0, 0, 0.24);
    z-index: 2;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

#txtEmail {
    border-bottom: 1px solid lightgray
}

#txtEmail,
#txtSenha {
    font-size: 5vh;
}

#btnEntrar {
    padding: 8px 15px;
    width: 100%;
    font-size: 4vh;
    color: white;
    font-weight: 100;
    cursor: pointer
}

#nao-cadastrado {
    font-size: 3vh;
    background-color: dimgray;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
    color: whitesmoke
}


/*----------HEADER------------*/

#Intro {
    height: 100%;
    width: auto;
    overflow: hidden;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    /*animation: fade ease-in 2s*/
    z-index: -1;
}

#logo {
    height: 23%;
    animation: fade ease-in 0.5s;
    opacity: 0.9;
    transition: 0.5s;
    margin: auto;
    display: block;
    padding-top: 20vh;
    position: relative;
}

#logo:hover {
    opacity: 1;
}

#Intro h1 {
    font-size: 5vh;
    font-weight: 100;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    text-shadow: 1px 1px 20px #000;
    position: relative;
}


/*----------ARTICLE------------*/

article {
    background-color: whitesmoke;
    z-index: 1;
}

article img {
    width: 100%
}

#doador {
    background-color: cadetblue
}

#instituicao {
    background-color: cadetblue
}

#ranking {
    background-color: darkslategray
}

#sobre {
    background-image: url('../img/bg/code.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-attachment: scroll;
    
    background-color: #3a383b
}


/*------------CADASTRAR-----------------*/

footer {
    max-width: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 15vh 0;
}

footer p {
    justify-content: flex-end
}

#form-cadastrar {
    margin-top: 10px;
    width: 40%;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.12), 0px 5px 20px 0 rgba(0, 0, 0, 0.24);
    transition: 0.7s
}


/*----------ANIMAÇÕES------------*/

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cai {
    0% {
        margin-top: -50px;
    }
    100% {
        margin-top: 10px;
    }
}

@-webkit-keyframes cai {
    0% {
        margin-top: -50px;
    }
    100% {
        margin-top: 10px;
    }
}

@keyframes menu {
    0% {
        margin-top: 11vh;
    }
    100% {
        margin-top: 0vh;
    }
}

@-webkit-keyframes menu {
    0% {
        padding: 3vh 6vw;
    }
    100% {
        padding: 3vh 3.5vw;
    }
}