/*----------FONTS------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto);

/* MAXWELL familia de fontes */
@font-face {
    font-family: 'MAXWELL';
    src: url('../fonts/MAXWELL_REGULAR.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MAXWELL';
    src: url('../fonts/MAXWELL_BOLD.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'MAXWELL';
    src: url('../fonts/MAXWELL_LIGHT.woff') format('woff');
    font-style: normal;
    font-weight: 100;
}

/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'MAXWELL';
    list-style: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #00bcd4
}

html,
body {
    height: 100%;
}

body {
    font-size: 100%;
    color: whitesmoke;
    position: relative;
}

::selection {
    color: whitesmoke;
    background-color: #00b7ad;
}


/*----------CLASSES------------*/

.txt{color: dimgray; outline: none;}
.btn {color: white; cursor: pointer; outline: none;}

#blackcover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.70);
    z-index: 1;
}

/*----------NAV------------*/

nav {
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.12), 0px 0px 20px 0 rgba(0, 0, 0, 0.24);
    background-color: #00bcd4;
    z-index: 1;
    transition: 0.5s;
    width: 100%;
    position: fixed;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    width: 3vw;
    margin: 15px 0px 15px 10px;
    float: left;
    transition: 0.5s;
    opacity: 0.9;
    position: relative;
    z-index: 2;
}

#home:hover {
    opacity: 1;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.12), 0px 5px 20px 0 rgba(0, 0, 0, 0.24);
}

nav > ul {
    display: flex;
    /* modo de distribuição dos filhos (adaptativo) */
    flex-direction: row;
    /* direção da distribuição (em linha) */
    flex-wrap: wrap;
    /* adaptar os filhos ao tamanho do pai */
    justify-content: center;
    /* alinhamento horizontal dos filhos */
    align-content: center;
    align-items: center;
    /* alinhamento vertical dos filhos */
    font-size: 3vh;
}

nav > ul li{
    color: whitesmoke;
    padding: 2vh 2vw;
    opacity: 0.8;
    transition: 0.5s;
    flex-grow: 0;
    /* ocupa o resto da largura da div */
    flex-shrink: 1;
    /* encurta a div */
    flex-basis: auto;
    /* define uma largura de cada elemento caso não tenha */
    position: relative;
}

nav > ul li:hover {
    opacity: 1;
    padding: 2vh 3.5vw 2vh;
}

nav img{
    height: 5vh;
    opacity: 0.9;
    padding: 0 1vw;
    transition: all 0.5s ease;
}
nav img:hover{
    opacity: 1;
}

#search {
    opacity: 1;
    width: 25vw;
}
#search img{
    width: 20%;
    display: flex;
}

#search:hover {
    margin-top: inherit
}

nav input {
    width: 100%;
    font-size: 3vh;
    padding: 5px;
    background-color: whitesmoke;
    transition: 1s;
    text-align: center;
}

nav input:focus {
    background-color: white;
}

/* user photo and link */
#btnUser{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnUser span{
    color: #fff;
    opacity: 0.8;
    font-size: 3vh;
    transition: 0.5s;
}

#btnUser:hover img, #btnUser:hover span, .contentOpen{
    opacity: 1;
}

#user-options{
    height: auto;
    width: 100%;
    left: 0;
}

#user-options ul li{
    font-size: 2.5vh;
    padding: 1vh 1vw;
    transition: 0.3s;
}

#user-options ul li:hover{
    background: #f4f4f4;
}

/* --- hidden msg div --- */

.contentContainer{
    position: relative;
    cursor: pointer;
}

.setaParaCima:before{
  content: "";

  width: 0;
  height: 0;

  position: absolute;
  top: -20px;
  left: 43%;


  border: 10px solid transparent;
  border-bottom: 10px solid #fff; 
}

.content{
    left: -90%;
    margin-top: 3vh;
    z-index: 3;
    position: absolute;
    height: 10vh;
    width: 300%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
