    body {
    background-color: whitesmoke
}

.centralize {
    flex-flow: wrap
}

header {
    text-align: center;
    margin-top: 10vh;
    z-index: 90
}

header img {
    height: 30vh;
    margin-bottom: -8px;
    margin-left: -22%
}

article {
    background-color: white;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.24);
    width: 90%;
    border-top: 4px solid white;
    border-bottom: 4px solid dimgray;
    margin-bottom: 0.5vh
}

article h1 {
    color: white;
    font-size: 8vh;
    padding: 5px 5px 10px 5px;
    text-align: center;
    background-color: #0094b7;
}

article select {
    font-size: 4vh;
    color: white;
    background-color: dimgray;
    cursor: pointer;
    width: 100%;
    text-align: center
}

article ul {
    box-sizing: content-box;
    padding: 5px;
}

article ul img {
    height: 8vh;
    margin-left: 5px
}

article li {
    display: flex;
    align-items: center;
    color: black;
    font-size: 3vh;
    margin-bottom: 4px;
    width: 100%;
}

article li div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89%
}

.number {
    text-align: center;
    color: dimgray;
    display: flex;
    justify-content: center;
    /* Alinhamento Vertical */
    align-items: center;
    /* Alinhamento Horizontal */
    height: 8vh;
    width: 5vw;
    background-color: gainsboro;
}

.pos-1 .number,
.pos-2 .number,
.pos-3 .number {
    color: white
}

.pos-1 .number {
    background-color: goldenrod;
    font-size: 5vh
}

.pos-2 .number {
    background-color: gray;
    font-size: 4.5vh
}

.pos-3 .number {
    background-color: saddlebrown;
    font-size: 4vh
}

article button{
    width: 100%;
    height: 4vh;
    font-size: 3vh;
    cursor: pointer;
    font-weight: 900;
    color: dimgray
}
