*{
    margin: 0;
    padding: 0;
    
}

body{
    text-align: center;    
}

#header{
    background: #b1b1b1;
    width: 100%;
    height: 70px;
    text-align: left;
}

#footer{
    background: #b1b1b1;
    width: 100%;
    height: 70px;
}