<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>DoAção</title>
    <link rel="stylesheet" href="css/main-style.css" media="all">
    <link rel="stylesheet" href="css/doacoes.css" media="all">
</head>

<body>
    <a href="#"><img id="home" src="img/logos/branco/logo-fechado.png" alt="intro"></a>
    <nav id="menu">
        <ul>
            <a href="#">
                <li>Navegar</li>
            </a>
            <a href="#">
                <li>Instituições</li>
            </a>
            <a href="ranking.html">
                <li>Ranking</li>
            </a>
            <li id="search">
                <input type="search" placeholder="pesquisar">
            </li>
            <a href="doacoes.html">
                <li>Doações</li>
            </a>
            <a href="items.html">
                <li>Meus Items</li>
            </a>
            <a href="perfil.html">
                <li>Ver Perfil</li>
            </a>
        </ul>
        <!--      <div id="logado">
            <p>Bruno Marini</p>
            <img src="img/icons/user.png" alt="">
        </div> -->
    </nav>

    <article id="content">
        <article id="left">
            <h1>DOAÇÕES</h1>
            <ul>
                <li>
                    <h2 id="nome">Cestas Básicas</h2>
                    <p>para: <a href=""><span id="destinatario">Casa da Vó Benedita</span></a></p>

                    <p id="estado">Em Andamento</p>
                </li>
                <svg width="100%" height="12px">
                    <line x1="1" y1="1" x2="100%" y2="1" style="stroke:dimgray; stroke-width: 1" />
                </svg>
                <li>
                    <h2 id="nome">Cestas Básicas</h2>
                    <p>para: <a href=""><span id="destinatario">Casa da Vó Benedita</span></a></p>

                    <p id="estado">Em Andamento</p>
                </li>
                <svg width="100%" height="12px">
                    <line x1="1" y1="1" x2="100%" y2="1" style="stroke:dimgray; stroke-width: 1" />
                </svg>
                <li>
                    <h2 id="nome">Cestas Básicas</h2>
                    <p>para: <a href=""><span id="destinatario">Casa da Vó Benedita</span></a></p>

                    <p id="estado">Em Andamento</p>
                </li>
            </ul>
        </article>
        <article id="right">
            <header>
                <h1 id="nome">Cestas Básicas</h1>
            </header>
            <section id="dados">
                <ul>
                    <li>

                    </li>
                </ul>
            </section>
            <form action="">
                <input id="txtCodigo" class="txt" type="text" placeholder="Digite o codigo fornecido">
                <input id="btnValidar" class="btn" type="button" value="VALIDAR">
            </form>
        </article>
    </article>
</body>

</html>