
    <article id="content">
        <article id="left">
            <h1>DOAÇÕES</h1>
            <ul id="itensList">
                <!-- ajax request goes here -->
            </ul>
        </article> 
        <article id="right">
            <!-- Capa com carrossel de fotos -->
            <header>
                <input id="txtNome" type="text" value="" disabled>
            </header>
            <!-- Controles -->
            <div id="controls" class="controls">
                <button id="btnEnviarMensagem" class="btn">Enviar Mensagem</button>
                <button id="btnValidarDoacao" class="btn">Validar Doação</button>
                <button id="btnCancelarDoacao" class="btn delete">Cancelar</button>
            </div>
            <!-- Dados da mercadoria -->
            <div class="centralize">
                <section id="dados" >
                    <h2>DADOS DA DOAÇÃO</h2>
                    <table class="dataSection">
                        <tr><td>Mercadoria doada: <span id="valMercadoria"></span></td></tr>
                        <tr><td>Tipo: <span id="valTipo"></span></td></tr>
                        <tr><td>Quantidade: <span id="valQuantidade"></span></td></tr>
                        <tr><td>Data: <span id="valData"></span></td></tr>
                        <tr><td>Estado: <span id="valStatus"></span></td></tr>
                        <tr><td>Prêmio: <span id="valPontos"></span></td></tr>         
                    </table>
                </section>
                <!-- Dados da instituição receptora -->       
                <section id="instituicao" >
                    <h2>DADOS DO DOADOR</h2>
                    <table class="dataSection">
                        <tr><td>Nome: <span id="valDoador"></span></td></tr>
                        <tr><td>Telefone: <span id="valTelefone"></span></td></tr>
                        <tr><td>E-mail: <span id="valEmail"></span></td></tr>       
                    </table>
                </section>
            </div>
        </article>
    </article>
<!-- hidden itens -->
<div id="blackcover" hidden></div>
<div id="mensagem" hidden>
    <h1>Deseja mesmo cancelar esta doação?</h1>
        <div id="opc">
            <input type="hidden" id="dialog" value=""></hidden>
            <button id="nao" class="btn">Não</button>
            <button id="sim" class="btn">Sim</button>
        </div>
</div>
</body>
</html>