<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>%page_title%</title>
    <link href="%TEMPLATE_PATH%css/main-style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="icon" href="%TEMPLATE_PATH%img/icons/logo-fechado.ico" type="icon"/>
    %include_css%
    <script src="%TEMPLATE_PATH%js/jquery.js"></script>
    <script src="%TEMPLATE_PATH%js/main-script.js"></script>
    %include_script%
</head>