<div class="centralize">
    <article id="newsfeed">
        <header>
            <h1>ULTIMAS ATUALIZAÇÕES</h1>
        </header>

        <section id="conquistas">
            <ul id="ul">
                <li class="li">
                    <img src="%TEMPLATE_PATH%img/icons/check.jpg" alt="">
                    <p>
                        Com a sua ajuda
                        <span id="nome"><a href="">Casa da Vó Benedita</a></span> consequiu completar:
                        <span id="necessidade"><a href="">15 TVs</a></span>
                    </p>
                </li>

                <li class="li">
                    <img src="%TEMPLATE_PATH%img/icons/check.jpg" alt="">
                    <p>
                        Com a sua ajuda
                        <span id="nome"><a href="">Casa da Vó Benedita</a></span> consequiu completar:
                        <span id="necessidade"><a href="">15 TVs</a></span>
                    </p>
                </li>
            </ul>
        </section>

        <section id="feed">
            <section class="post">
                <div class="from">
                    <img src="%TEMPLATE_PATH%img/icons/user.png" alt="">
                    <div class="texto">
                        <h1><a href=""><span class="doador">Bruno Marini</span></a> fez uma doação</h1>
                        <h2 class="item">5 litros de leite desnatado</h2>
                        <p class="tempo">agora mesmo</p>
                    </div>
                </div>
            </section>

            <section class="post">
                <div class="from">
                    <img src="%TEMPLATE_PATH%img/icons/user.png" alt="">
                    <div class="texto">
                        <h1><a href=""><span class="doador">Bruno Marini</span></a> fez uma doação</h1>
                        <h2 class="item">5 litros de leite desnatado</h2>
                        <p class="tempo">agora mesmo</p>
                    </div>
                </div>
            </section>

            <section class="post">
                <div class="from">
                    <img src="%TEMPLATE_PATH%img/icons/user.PNG" alt="">
                    <div class="texto">
                        <h1><a href=""><span class="doador">Bruno Marini</span></a> fez uma doação</h1>
                        <h2 class="item">5 litros de leite desnatado</h2>
                        <p class="tempo">agora mesmo</p>
                    </div>
                </div>
            </section>
        </section>
    </article>

    <aside id="stats">
        <section id="donations" class="stat-container">
            <header>
                <h1>DOAÇÕES</h1>
            </header>
        </section>
        <section id="mercadoria" class="stat-container">
            <header>
                <h1>MERCADORIA</h1>
            </header>
        </section>
        <section id="ranking" class="stat-container">
            <header>
                <h1>TOP DOADORES</h1>
            </header>
        </section>
    </aside>
</div>