<div class="centralize">
    <article id="newsfeed">
        <header>
            <h1>ULTIMAS ATUALIZAÇÕES</h1>
        </header>

        <section id="conquistas">
            <ul id="ul">
                <li class="li">
                    <img src="%TEMPLATE_PATH%img/icons/check.jpg" alt="">
                    <p>
                        Com a sua ajuda
                        <span id="nome"><a href="">Casa da Vó Benedita</a></span> consequiu completar:
                        <span id="necessidade"><a href="">15 TVs</a></span>
                    </p>
                </li>

                <li class="li">
                    <img src="%TEMPLATE_PATH%img/icons/check.jpg" alt="">
                    <p>
                        Com a sua ajuda
                        <span id="nome"><a href="">Casa da Vó Benedita</a></span> consequiu completar:
                        <span id="necessidade"><a href="">15 TVs</a></span>
                    </p>
                </li>
            </ul>
        </section>

        <svg>
            <line x1="1" y1="1" x2="100%" y2="1" />
        </svg>

        <section id="feed">
            <section class="post" id="first-post">
                <p class="tempo">agora mesmo</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%img/icons/user.png" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Casa da Vó Benedita</a></span> adicionou uma imagem</h1>
                    </div>
                </div>

                <section class="cont cont-img">
                    <img src="%TEMPLATE_PATH%img/bg/xYVxmDx.jpg" alt="">
                    <p>Hoje foi dia do brinquedo, a criançada ficou muito feliz com os novos brinquedos. Mais uma vez, obrigado a todos os contribuentes</p>
                </section>
            </section>

            <section class="post">
                <p class="tempo">agora mesmo</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%img/icons/user.png" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Casa da Vó Benedita</a></span></h1>
                    </div>
                </div>
                <section class="cont cont-txt">
                    <p>Hoje foi dia do brinquedo, a criançada ficou muito feliz com os novos brinquedos. Mais uma vez, obrigado a todos os contribuentes</p>
                </section>
            </section>

            <section class="post">
                <p class="tempo">agora mesmo</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%img/icons/user.PNG" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Casa da Vó Benedita</a></span> está precisando de</h1>
                        <h2 class="legenda">5 litros de leite desnatado</h2>
                    </div>
                </div>
                <section class="cont cont-txt">
                    <p>20 litros de leite</p>
                    <div class="progresso">
                        <progress value="100" max="100"></progress>
                        <p>100%</p>
                    </div>
                </section>
            </section>
        </section>
    </article>

    <aside id="stats">
        <section id="donations" class="stat-container">
            <header>
                <h1>DOAÇÕES</h1>
            </header>
        </section>
        <section id="mercadoria" class="stat-container">
            <header>
                <h1>MERCADORIA</h1>
            </header>
        </section>
        <section id="ranking" class="stat-container">
            <header>
                <h1>TOP DOADORES</h1>
            </header>
        </section>
    </aside>
</div>
