<div class="centralize">
    <article id="newsfeed">
        <header>
            <h1>ULTIMAS ATUALIZAÇÕES</h1>
        </header>
        <section id="conquistas">
            <ul id="ul">
                <li class="li">
                    <img src="%TEMPLATE_PATH%img/icons/check.jpg" alt="">
                    <p>
                        Com a sua ajuda
                        <span id="nome"><a href="">Lar das Moças Cegas</a></span> consequiu completar:
                        <span id="necessidade"><a href="">15 TVs</a></span>
                    </p>
                </li>

                <li class="li">
                    <img src="%TEMPLATE_PATH%img/icons/check.jpg" alt="">
                    <p>
                        Com a sua ajuda
                        <span id="nome"><a href="">Lar das Moças Cegas</a></span> consequiu completar:
                        <span id="necessidade"><a href="">20 Roupas</a></span>
                    </p>
                </li>
            </ul>
        </section>

        <svg>
            <line x1="1" y1="1" x2="100%" y2="1" />
        </svg>

        <section id="feed">
            <section class="post post-txt" id="first-post">
                <p class="time">há 3min</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%../../media/user-photos/cegas.jpg" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Lar das Moças Cegas</a></span></h1>
                    </div>
                </div>

                <section class="cont">
                    <p>Hoje foi dia do brinquedo, a criançada ficou muito feliz com os novos brinquedos. Mais uma vez, obrigado a todos os contribuentes</p>
                </section>
            </section>

            <section class="post post-progress">
                <p class="time">há 15min</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%../../media/user-photos/cegas.jpg" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Lar das Moças Cegas</a></span> está precisando de</h1>
                    </div>
                </div>

                <section class="cont">
                    <p>20 litros de leite</p>
                    <div class="progresso">
                        <progress value="50" max="100"></progress>
                        <p>50%</p>
                    </div>
                </section>
            </section>

            <section class="post post-img" id="first-post">
                <p class="time">agora mesmo</p>
                <a href="">
                    <div class="autor">
                        <img src="%TEMPLATE_PATH%../../media/user-photos/cegas.jpg" alt="">
                        <div class="titulo">
                            <h1><span class="nome">Lar das Moças Cegas</span></h1>
                        </div>
                    </div>
                </a>

                <section class="cont">
                    <img src="%TEMPLATE_PATH%img/outros/danca.jpg" alt="">
                    <footer>
                        <p class="legenda">"A professora de Braille do  Lar das Moças Cegas (LMC), Sandra Regina,  realizou uma palestra para os alunos de Educação Física da UNIP. O evento aconteceu na última sexta-feira, 15/05. O tema foi Inclusão Social do Deficiente Visual."
                        </p>
                    </footer>
                </section>
            </section>

            <section class="post post-txt" id="first-post">
                <p class="time">há 3min</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%../../media/user-photos/cegas.jpg" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Lar das Moças Cegas</a></span></h1>
                    </div>
                </div>

                <section class="cont">
                    <p>Feira de Variedades do Lar das Moças Cegas segue até sexta-feira (09/12). São mais de 50 expositores com diversos produtos para que você presenteie seus familiares e amigos. Se ainda não tem ideia do que dar nesse Natal, não perca tempo; venha para o LMC e encontre o presente ideal!

Além de poder comprar diversos presentes, você pode aproveitar a nossa lanchonete e fazer um delicioso lanche! O LMC também é ponto de venda dos cartões de Natal do Ilumina Santos; contribua conosco e compre um cartão por apenas R$1,00!</p>
                </section>
            </section>
            
            <section class="post post-txt" id="first-post">
                <p class="time">há 3min</p>
                <div class="autor">
                    <img src="%TEMPLATE_PATH%../../media/user-photos/cegas.jpg" alt="">
                    <div class="titulo">
                        <h1><span class="nome"><a href="">Lar das Moças Cegas</a></span></h1>
                    </div>
                </div>

                <section class="cont">
                    <p>Na última sexta-feira, dia 25 de novembro, aconteceu mais um Boteco do Lar. O happy hour quinzenal do Lar das Moças Cegas, animou todo mundo que compareceu com as apresentações musicais de Zinho, do grupo Tempero, e do grupo +Q Novidade. Nos intervalos, a música ficou com o DJ Paulo Palmer, que tocou o melhor do Flashback dos anos 70 e 80.

O próximo Boteco do Lar acontece no dia 16 de dezembro e será o último deste ano! Não fique de fora; você que comemora seu aniversário na semana do evento, reserve seu espaço, traga seus amigos e familiares e venha curtir o happy hour mais animado de Santos!</p>
                </section>
            </section>
        </section>
    </article>

    <aside id="stats">
        <section id="donations" class="stat-container">
            <header>
                <h1>DOAÇÕES</h1>
            </header>
            <ul>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
            </ul>

            <a href="doacoes">
                <button>Ver Mais</button>
            </a>
        </section>
        <section id="mercadoria" class="stat-container">
            <header>
                <h1>MEUS ITEMS</h1>
            </header>

            <ul>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
            </ul>

            <a href="mercadoria">
                <button>Ver Mais</button>
            </a>
        </section>
        <section id="ranking" class="stat-container">
            <header>
                <h1>TOP DOADORES</h1>
            </header>
            <ul>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
                <li>
                    <h2 class="nome">Cestas Básicas</h2>
                    <p>interessados: <span class="interessados"><a href="">15</a></span></p>
                </li>
                <svg>
                    <line x1="1" y1="1" x2="100%" y2="1" />
                </svg>
            </ul>

            <a href="ranking">
                <button>Ver Mais</button>
            </a>
        </section>
    </aside>
</div>

