<body>
    <div id="mensagem">%mensagem%</div>
    <form id="form-login" method="POST">
        <input type="email" id="txtEmail" name="txtEmail" class="txt" placeholder="email" value="%txtEmail%" ></input>
        <input type="password" id="txtSenha" name="txtSenha" class="txt" placeholder="senha"></input>
        <input type="submit" id="btnEntrar" class="btn" value="entrar">
        <a data-scroll href="#btnCadastrar">
            <p id="nao-cadastrado">não sou cadastrado</p>
        </a>
    </form>
</body>