<header>
                <form id="cover">
                    <input type="file" id="file"  accept="image/*" style="display: none" />
                </form>
                <img id="camera" src="%TEMPLATE_PATH%img/icons/camera.png" alt="camera">
                <input id="txtNome" type="text" value="Cestas Básicas" disabled>
            </header>
            <section id="dados">
                <p id="tipo">Tipo:
                    <input id="txtTipo" type="text" value="Cestas Básicas" disabled>
                </p>
                <div id="quantidade">
                    <p>Quantidade:</p>
                    <input id="txtQuantidade" type="number" value="12" disabled>
                </div>
                <div id="unidade">
                    <p>Unidade:</p>
                    <input type="text" value="Cx" disabled>
                </div>
                <p id="descricao">Descrição:
                    <textarea name="" id="txtDescricao" disabled>Cestas básicas TUPY contendo produtos não perecíveis. Lote 22/05</textarea>
                </p>