    <div id="blackcover" hidden></div>
    <div id="mensagem" hidden>
        <h1>Deseja realmente excluir esse item?</h1>
        <div id="opc">
            <button id="nao" class="btn">Não</button>
            <button id="sim" class="btn">Sim</button>
        </div>
    </div>

    <div id="adicionar" hidden>
        <header>
            <button id="btnVoltar">voltar</button>
            <div id="color">
                <h1>adicionar um item</h1>
                <button id="btnConcluir">Concluir</button>
            </div>
        </header>
        <form action="">
            <p>Nome do item</p>
            <input id="add-nome" type="text" class="txt" placeholder="ex.: Casaco do Carlos">
            </br>
            <p>Tipo</p>
            <input id="tipoMercadoria" type="text" list="tipos" placeholder="ex.: roupa">
            <datalist id="tipos">
                <!-- ajax request goes here -->
            </datalist>
            <p>Unidade</p>
            <select id="unid">
                <!-- ajax request goes here 
                    <option value="Un">Un</option>
                -->
            </select>
            </br>
            <div id="qtd">
                <p>Quantidade</p>
                <input type="number" min="1" value="1">
            </div>
            
            <p>Descrição</p>
            <textarea name="" id="" placeholder="ex.: casaco semi-usado (tamanho: P)"></textarea>
        </form>
    </div>

    <article id="content">
        <article id="left">
            <h1>MEUS ITEMS</h1>
            <button id="btnAdicionar" class="btn">adicionar item</button>
            <ul id="itensList">
                <!-- ajax request goes here -->
            </ul>
        </article>
        <article id="right">
            <header>
                <form id="cover">
                    <input id="file" type="file" accept="image/*" style="display: none" />
                </form>

                <img id="camera" src="img/icons/camera.png" alt="camera">
                <input id="txtNome" type="text" value="Cestas Básicas" disabled>
            </header>
            <section id="dados">
                <p id="tipo">Tipo:
                    <a href="">
                        <input id="txtTipo" type="text" value="Cestas Básicas" disabled>
                    </a>
                </p>
                <div id="quantidade">
                    <p>Quantidade:</p>
                    <input id="txtQuantidade" type="number" value="12">
                </div>
                <br>
                <br>
                <br>
                <p id="descricao">Descrição
                    <textarea name="" id="txtDescricao">Cestas básicas TUPY contendo produtos não perecíveis. Lote 22/05</textarea>
                </p>
            </section>
            <section id="instituicoes">
                <h2>INSTITUIÇÕS INTERESSADAS</h2>
                <ul>
                    <li></li>
                </ul>
            </section>
            <div id="opcoes">
                <button id="btnEditar" class="btn">Editar</button>
                <button id="btnRemover" class="btn">Remover</button>
            </div>
        </article>
    </article>
</body>
</html>