<body>
    <nav id="menu">
        <a href="%index%">
            <img src="%TEMPLATE_PATH%img/logos/branco/logo-fechado.png" alt="intro">
        </a>  
        <ul>
            <a href="#">
                <li>Instituições</li>
            </a>
            <a href="doacoes.html">
                <li>Doações</li>
            </a>  
            <a href="#">
                <li>Ranking</li>
            </a>
            <li id="search">
                <input type="search" placeholder="pesquisar">
            </li>
            
            <a href="%mercadorias%">
                <li>Meus Items</li>
            </a>
        </ul>
        <div class="contentContainer">
            <img id="btnMsg"src="%TEMPLATE_PATH%img/icons/chat.png" alt="intro">
            <div id="msg" class="setaParaCima content"></div>
        </div>
        <div class="contentContainer">
            <img id="btnNotify" src="%TEMPLATE_PATH%img/icons/notify.png" alt="intro">
            <div id="notify" class="setaParaCima content"></div>
        </div>
        <div id="user" class="contentContainer">
            <a id="btnUser">
            <img src="%usuario_photo%" alt="intro">
            <span>%usuario_logado%</span>
            </a>
            <div id="user-options" class="setaParaCima content">
                <ul>
                    <a href="%perfil%">
                        <li>Ver Pefil</li>
                    </a>
                    <a href="%perfil%">
                        <li>Dados Pessoais</li>
                    </a>
                    <a href="%logout%">
                        <li>Sair</li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>