<body>
    <nav id="menu">
        <a href="%index%">
            <img src="%TEMPLATE_PATH%img/logos/branco/logo-fechado.png" alt="intro">
        </a>  
        <ul>
            <a href="#">
                <li>Instituições</li>
            </a>
            <a href="doacoes.html">
                <li>Doações</li>
            </a>  
            <a href="#">
                <li>Ranking</li>
            </a>
            <li id="search">
                <input type="search" placeholder="pesquisar">
            </li>
            
            <a href="items.html">
                <li>Meus Items</li>
            </a>
            <a href="javascript:alert('msg');">
               <li><img src="%TEMPLATE_PATH%img/icons/chat.png" alt="intro"></li>
            </a>
            <a href="javascript:alert('notify');">
                <li><img src="%TEMPLATE_PATH%img/icons/notify.png" alt="intro"></li>
            </a> 
        </ul>
        <div id="logado">
            <p>Bruno Marini</p>
            <img src="img/icons/user.png" alt="">
        </div>
</nav>