<body>
    <nav id="menu" class="notLogged">
        <a href="%index%">
            <img src="%TEMPLATE_PATH%img/logos/azul/logo-fechado.png" alt="intro">
        </a>  
        <ul>
            <a href="%index%#Menu">
                <li>Como Doar</li>
            </a>
            <a href="%index%#doador">
                <li>Doador</li>
            </a>  
            <a href="%index%#instituicao">
                <li>Instituição</li>
            </a>
            <a href="%index%#ranking">
                <li>Ranking</li>
            </a>
            <a href="%index%#sobre">
                <li>Sobre</li>
            </a>
        </ul>
        <a id="btnUser" href="%login%">
            <img src="%TEMPLATE_PATH%img/icons/user.png" alt="Icone de Usuário não Logado">
            <span>Entrar</span>
        </a>
    </nav>