    <div class="centralize">
        <header>
            <img src="%TEMPLATE_PATH%img/icons/rank.png" alt="">
        </header>
        <article>
            <h1>Ranking</h1>
            <select>
                <option value="volvo">Todos</option>
                <option value="saab">Cidade</option>
                <option value="mercedes">Bairro</option>
                <option value="audi">Rua</option>
            </select>
            <ul id="ranking">
                <li class="pos-1">
                    <p class="number">1º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li class="pos-2">
                    <p class="number">2º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li class="pos-3">
                    <p class="number">3º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">4º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">5º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">6º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">7º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">8º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">9º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">10º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">

                        <p class="nome">
                            <a href="">Bruno Marini</a>
                        </p>

                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
                <li>
                    <p class="number">11º</p>
                    <div>
                        <img src="../../media/user-photos/marini.jpg" alt="" class="avatar">
                        <a href="">
                            <p class="nome">Bruno Marini</p>
                        </a>
                        <p class="pontuacao">3.540 pts.</p>
                    </div>
                </li>
            </ul>
            <button>...</button>
        </article>
    </div>
</body>
</html>
