<div class="centralize">
    <h1>Agora precisamos de alguns dados...</h1>
    <span class="msg %msgClass%">%mensagem%</span>
    <article id="cadastrar">
            
            <section id="tipo-user">
                <div id="doador">
                    <p>sou um doador</p>
                </div>
                <div id="instituicao">
                    <p>sou uma instituição</p>
                </div>
            </section>
            <section id="formulario">
                <form method="POST">
                    <input type="text" class="txt" name="txtNome" placeholder="nome" value="%txtNome%">
                    <input type="email" class="txt" name="txtEmail" placeholder="email" value="%txtEmail%">
                    <input type="text" class="txt" id="txtCNPJ" name="txtCNPJ" placeholder="CNPJ" value="%txtCNPJ%" hidden>
                    <input type="password" class="txt" name="txtSenha" placeholder="senha" value="%txtSenha%" >
                    <input type="password" class="txt" name="txtRepitaSenha" placeholder="repita sua senha" value="%txtRepitaSenha%" >
                    <input type="hidden" id="tipo" name="tipo" value="%tipo%" >
                    <button type="submit" id="btnCadastrar" disabled>Cadastrar</button>
                </form>
            </section>
    </article>
    <p id="otherOptions">Ao se cadastrar você aceita os <a href="#">Termos de Uso</a></p>
</div>


