
<article id="cadastrar">
         <h1>Agora precisamos de alguns dados...</h1>
         <section id="tipo-user">
             <div id="doador">
                 <p>sou um doador</p>
             </div>
             <div id="instituicao">
                 <p>sou uma instituição</p>
             </div>
         </section>
         <section id="formulario">
            <form method="POST">
                 <input type="email" class="txt" name="txtEmail" placeholder="email" >
                 <input type="text" class="txt" id="txtCNPJ" name="txtCNPJ" placeholder="CNPJ" hidden>
                 <input type="password" class="txt" name="txtSenha" placeholder="senha" >
                 <input type="password" class="txt" name="txtRepitaSenha" placeholder="repita sua senha" >
                 <input type="hidden" id="tipo" name="tipo" value="0" >
                 <button type="submit" id="btnCadastrar" disabled>Cadastrar</button>
            </form>
        </section>
</article>
<p id="termos">*Li e aceito os Termos de Uso</p>

