<article id="cadastrar">
        <h1>Agora precisamos de alguns dados...</h1>
        <section id="tipo-user">
            <section id="doador">
                <img src="img/icons/user.png" alt="">
                <p>sou um doador</p>
            </section>
            <section id="instituicao">
                <img src="img/icons/house.png" alt="">
                <p>sou uma instutuição</p>
            </section>
        </section>
        <section id="formulario">
            <form action="perfil.html">
                <input type="email" class="txt" id="txtEmail" placeholder="email" onfocus="txtFocus(1, 'txtEmail')" onblur="txtFocus(0, 'txtEmail')">
                <input type="password" class="txt" id="txtSenha" placeholder="senha" onfocus="txtFocus(1, 'txtSenha')" onblur="txtFocus(0, 'txtSenha')">
                <input type="password" class="txt" id="txtRepitaSenha" placeholder="repita sua senha" onfocus="txtFocus(1, 'txtRepitaSenha')" onblur="txtFocus(0, 'txtRepitaSenha')">
                <button id="btnCadastrar">Cadastrar</button>
            </form>
        </section>
        <p>*Li e aceito os Termos de Uso</p>
</article>
